In [3]:
# 30-06-25, Monday;

# PDBC: Python Database Connectivity.

# Steps:
# 1. import the module.
# 2. Create a connection.
# 3. Create cursor onject.
# 4. Execute SQL queries.
# 5. Commit the changes.
# 6. Close the connection.

# Installed: pip install mysql-connector-python

# E.G.: Create a table and insert data.

import mysql.connector as mysql
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()
DB_PASSWORD = os.getenv("DB_PASSWORD")

# Connect to MySQL
conn = mysql.connect(
    host="localhost",
    user="root",
    password=DB_PASSWORD,
    database="PDBC_1"
)

cursor = conn.cursor()

# Show connected DB name
cursor.execute("SELECT DATABASE()")
print("Connected to database:", cursor.fetchone()[0])

# Create table if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS hypercars (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        brand VARCHAR(50)
    )
""")

# Insert initial records if not present
insert_data = [
    ("Chiron SS 300+", "Bugatti"),
    ("Sadairs Spear", "Koenigsegg"),
    ("Huayra", "Pagani"),
    ("Devel 16", "Devel")
]

for name, brand in insert_data:
    cursor.execute("SELECT COUNT(*) FROM hypercars WHERE name = %s AND brand = %s", (name, brand))
    if cursor.fetchone()[0] == 0:
        cursor.execute("INSERT INTO hypercars (name, brand) VALUES (%s, %s)", (name, brand))

# Show hypercars before inserting new ones
print("\nCurrent Hypercars in the Database:")
cursor.execute("SELECT * FROM hypercars")
for record in cursor.fetchall():
    print(f"ID: {record[0]} | Name: {record[1]} | Brand: {record[2]}")

# Allow user to add new hypercars
while True:
    print("\n--- Add New Hypercar ---")
    name = input("Enter new Hypercar Model: ")
    brand = input("Enter new Hypercar Brand: ")

    cursor.execute("SELECT COUNT(*) FROM hypercars WHERE name = %s AND brand = %s", (name, brand))
    if cursor.fetchone()[0] == 0:
        cursor.execute("INSERT INTO hypercars (name, brand) VALUES (%s, %s)", (name, brand))
        print("‚úÖ Inserted successfully!")
    else:
        print("‚ö†Ô∏è Hypercar already exists. Skipping insert.")

    cont = input("Do you want to add more Hypercars? (Y/N): ")
    if cont.lower() != 'y':
        break

# Update a specific hypercar
# cursor.execute("""
#     UPDATE hypercars
#     SET name = 'Huayra R'
#     WHERE id = 3
# """)

# # Delete a specific hypercar (only if it exists)
# cursor.execute("DELETE FROM hypercars WHERE id = 11")

# Dynamic Update and Delete:
while True:
    print("\nWhat would you like to do?")
    print("1. Update a hypercar")
    print("2. Delete a hypercar")
    print("3. Exit")
        
    choice = input("Enter your choice (1/2/3): ")

    if choice == "1":
        try:
            update_id = int(input("Enter the ID of the hypercar you want to update: "))
            new_name = input("Enter new model name: ")
            new_brand = input("Enter new brand name: ")

            cursor.execute("SELECT * FROM hypercars WHERE id = %s", (update_id,))
            if cursor.fetchone():
                cursor.execute("UPDATE hypercars SET name = %s, brand = %s WHERE id = %s", (new_name, new_brand, update_id))
                print("Hypercar updated successfully!")
            else:
                print("No hypercar found with that ID.")

        except ValueError:
            print("Invalid input. ID should be a number.")

    elif choice == "2":
            try:
                delete_id = int(input("Enter the ID of the hypercar you want to delete: "))
                
                cursor.execute("SELECT * FROM hypercars WHERE id = %s", (delete_id,))
                if cursor.fetchone():
                    cursor.execute("DELETE FROM hypercars WHERE id = %s", (delete_id,))
                    print("Hypercar deleted successfully!")
                else:
                    print("No hypercar found with that ID.")
            
            except ValueError:
                print("Invalid input. ID should be a number.")

    elif choice == "3":
        break
    else:
        print("Invalid option. Please enter 1, 2, or 3.")

# Show final hypercars list
print("\nFinal Hypercars in DB:")
cursor.execute("SELECT * FROM hypercars")
for row in cursor.fetchall():
    print(f"ID: {row[0]} | Name: {row[1]} | Brand: {row[2]}")

# Commit and close
conn.commit()
conn.close()

Connected to database: pdbc_1

Current Hypercars in the Database:
ID: 1 | Name: Chiron SS 300+ | Brand: Bugatti
ID: 2 | Name: Sadairs Spear | Brand: Koenigsegg
ID: 3 | Name: Huayra R | Brand: Pagani
ID: 4 | Name: Devel 16 | Brand: Devel
ID: 5 | Name: 812 SF | Brand: Ferrari
ID: 6 | Name: 918 Spyder | Brand: Porsche
ID: 7 | Name: Nevera | Brand: Rimac
ID: 9 | Name: Huayra | Brand: Pagani
ID: 10 | Name: G63 | Brand: Mercedes
ID: 14 | Name: Senna | Brand: McLaren
ID: 15 | Name: Vision Maybach 6 | Brand: Mercedes

--- Add New Hypercar ---
‚úÖ Inserted successfully!

What would you like to do?
1. Update a hypercar
2. Delete a hypercar
3. Exit
Hypercar updated successfully!

What would you like to do?
1. Update a hypercar
2. Delete a hypercar
3. Exit

Final Hypercars in DB:
ID: 1 | Name: Chiron SS 300+ | Brand: Bugatti
ID: 2 | Name: Sadairs Spear | Brand: Koenigsegg
ID: 3 | Name: Huayra R | Brand: Pagani
ID: 4 | Name: Devel 16 | Brand: Devel
ID: 5 | Name: 812 SF | Brand: Ferrari
ID: 6 | Name: 918 Spyder | Brand: Porsche
ID: 7 | Name: Nevera | Brand: Rimac
ID: 9 | Name: Huayra | Brand: Pagani
ID: 10 | Name: G63 Amg | Brand: Mercedes
ID: 14 | Name: Senna | Brand: McLaren
ID: 15 | Name: Vision Maybach 6 | Brand: Mercedes
ID: 16 | Name: a | Brand: a

In [4]:
# GPT for reference.
import mysql.connector as mysql
import os
from dotenv import load_dotenv

# Load env
load_dotenv()
DB_PASSWORD = os.getenv("DB_PASSWORD")

# Connect
conn = mysql.connect(
    host="localhost",
    user="root",
    password=DB_PASSWORD,
    database="PDBC_1"
)

print("Connection to database:", conn)
cursor = conn.cursor()

# Print current DB name
cursor.execute("SELECT DATABASE()")
print("Connected to database:", cursor.fetchone()[0])

# Create table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS hypercars (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        brand VARCHAR(50)
    )
""")

# Predefined records (insert only if not already present)
default_data = [
    ("Chiron SS 300+", "Bugatti"),
    ("Sadairs Spear", "Koenigsegg"),
    ("Huayra", "Pagani"),
    ("Devel 16", "Devel")
]

for name, brand in default_data:
    cursor.execute("SELECT COUNT(*) FROM hypercars WHERE name = %s AND brand = %s", (name, brand))
    if cursor.fetchone()[0] == 0:
        cursor.execute("INSERT INTO hypercars (name, brand) VALUES (%s, %s)", (name, brand))

# ‚úÖ User Input Loop
while True:
    print("\n--- Add New Hypercar ---")
    name = input("Enter new Hypercar Model: ")
    brand = input("Enter new Hypercar Brand: ")

    # Insert only if it's not a duplicate
    cursor.execute("SELECT COUNT(*) FROM hypercars WHERE name = %s AND brand = %s", (name, brand)) #%s is called parameterised/ dynamic query.
    if cursor.fetchone()[0] == 0:
        cursor.execute("INSERT INTO hypercars (name, brand) VALUES (%s, %s)", (name, brand))
        print("‚úÖ Inserted successfully!")
    else:
        print("‚ö†Ô∏è  Hypercar already exists. Skipping insert.")

    # Fetch & show updated table
    cursor.execute("SELECT * FROM hypercars")
    print("\nCurrent Hypercars in DB:")
    for row in cursor.fetchall():
        print(row)

    cont = input("\nDo you want to add more Hypercars? (Y/N): ")
    if cont.lower() != 'y':
        break

# Update data.
cursor.execute("""UPDATE hypercars
               SET name = 'Huayra R'
               WHERE id = '3'
               """)

# Delete data
cursor.execute("""DELETE FROM hypercars
               WHERE id = '11'
               """)

# Fetch & show updated table
cursor.execute("SELECT * FROM hypercars")
print("\nCurrent Hypercars in DB After Update and Delete:")
for row in cursor.fetchall():
    print(row) #each row is a Tuple.

# Finish
conn.commit()
conn.close()
print("üîö Connection closed.")

Connection to database: <mysql.connector.connection.MySQLConnection object at 0x0000027A8321B8F0>
Connected to database: pdbc_1

--- Add New Hypercar ---
‚úÖ Inserted successfully!

Current Hypercars in DB:
(1, 'Chiron SS 300+', 'Bugatti')
(2, 'Sadairs Spear', 'Koenigsegg')
(3, 'Huayra R', 'Pagani')
(4, 'Devel 16', 'Devel')
(5, '812 SF', 'Ferrari')
(6, '918 Spyder', 'Porsche')
(7, 'Nevera', 'Rimac')
(9, 'Huayra', 'Pagani')
(10, 'G63', 'Mercedes')
(11, 'no', 'yes')
(12, 'yes', 'on')

Current Hypercars in DB Fater Update and Delete:
(1, 'Chiron SS 300+', 'Bugatti')
(2, 'Sadairs Spear', 'Koenigsegg')
(3, 'Huayra R', 'Pagani')
(4, 'Devel 16', 'Devel')
(5, '812 SF', 'Ferrari')
(6, '918 Spyder', 'Porsche')
(7, 'Nevera', 'Rimac')
(9, 'Huayra', 'Pagani')
(10, 'G63', 'Mercedes')
(12, 'yes', 'on')
üîö Connection closed.

In [ ]:
# 2-07-25, Wednesday;